@charset "utf-8";
/* CSS Document */

.hidden { display: none; }
.clear { clear:both; }

h1 { font-size: 28px; line-height: 32px; font-weight: normal; color: #333; margin-bottom: 15px; }
h2 { font-size: 18px; color: #62564A; margin-bottom: 15px; margin-top: 25px; }
h3 { font-size: 16px;  color: #555; margin-bottom: 5px; margin-top: 25px; }

.breadcrumb   { color: #CCC; display: inline-block; font-size: 9px; margin-bottom: 5px; }
.breadcrumb a { color: #bbb; }
.breadcrumb a:hover, a:focus { color: #999; }

p { font-size: 12px; line-height: 18px; color: #4d4d4d; margin-bottom: 15px; }

a { color: #62564A; text-decoration: none; font-weight: bold; }
a:hover, a:focus { color: #a67b53; }
	.see-all a { display: block; width: 90%; background:#fff url('../images/arrow-right-off.png') no-repeat 150px; font-size: 12px;  }
	.see-all a:hover { background:#fff url('../images/arrow-right-on.png') no-repeat 150px; color: #333; }
	.see-all-long a { display: block; width: 90%; background:#fff url('../images/arrow-right-off.png') no-repeat 250px; font-size: 12px;  }
	.see-all-long a:hover { background:#fff url('../images/arrow-right-on.png') no-repeat 250px; color: #333; }

.copyright { font-size: 0.65em; }

ol { margin-left: 15px; margin-bottom: 20px; }
ul { margin-left: 15px; margin-bottom: 20px; margin-top: -5px; list-style-type: square; }
li { line-height: 1.5em; color: #333; font-size: 12px; }

blockquote { background:#f9f9f9; border-left:10px solid #ccc; margin:1.5em 10px; padding:.5em 10px; font-style: italic ; color: #4d4d4d; }
blockquote p { display:inline; font-style: italic ; color: #4d4d4d; }

.column-left { float:left; padding-right: 5%; width: 45%; }
.column-right { float:right; padding-left: 5%; width: 45%; }

.field-label { margin-bottom: 5px; font-size: 12px; color: #4d4d4d; }


/****button styles****/
.button { display: block;  margin: 25px 0px;  }
.button a { background: #f1f1f1; padding: 5px 15px; color: #555; float: none; cursor: pointer; font-weight: normal; text-align: center;
	border: 1px solid #999; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }
.sidebar-box .button { margin: 0px; overflow: hidden; font-size:  }


.views-submit-button { clear: both; }
.views-reset-button { clear: both; }
.views-submit-button input[type=submit]{ background: #f1f1f1; padding: 5px 15px; color: #555; float: none; cursor: pointer; font-weight: normal;
	border: 1px solid #999; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }
.views-reset-button input[type=submit]{ background: #f1f1f1; padding: 5px 15px; color: #555; float: none; cursor: pointer; font-weight: normal;
	border: 1px solid #999; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

/****overrides****/

/*open layers */
.openlayers-tooltip-name a{ color: #fff; }
.openlayers-tooltip-name a:hover{ color: #eee; }




