<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Illinois State Geological Survey</title>

<link rel="stylesheet" href="all/themes/ISGS/assets/css/reset.css" />
<link rel="stylesheet" href="all/themes/ISGS/assets/css/layout.css" />
<link rel="stylesheet" href="all/themes/ISGS/assets/css/header-footer.css" />
<link rel="stylesheet" href="all/themes/ISGS/assets/css/typography.css" />
</head>

<body>

<div id="page-wrap">

	<div id="header">
    
     <div id="inrsbar">
      <span class="inrstxt">
        <a href="http://www.prairie.illinois.edu" class="IE6white">Prairie Research Institute</a>
      </span>
      <span class="uiuctxt">
        <a href="http://www.illinois.edu" class="IE6white">University of Illinois at Urbana-Champaign</a>
      </span>
    </div><!--end inrsbar -->
    
    <div id="surveys">
      <h2 class="hidden">INRS State Scientific Surveys</h2>
      <ul>
        <li class="first"><a href="http://www.inhs.illinois.edu/">Illinois Natural History Survey</a></li>
        <li class="navmarker">|</li>
        <li><a href="http://www.itarp.illinois.edu">Illinois State Archaeological Survey</a></li>
        <li class="navmarker">|</li>
        <li><a href="/index.shtml" class="selectedsurvey">Illinois State Geological Survey</a></li>
        <li class="navmarker">|</li>
        <li><a href="http://www.isws.illinois.edu">Illinois State Water Survey</a></li>
        <li class="navmarker">|</li>
        <li><a href="http://www.istc.illinois.edu">Illinois Sustainable Technology Center</a></li>
      </ul>
    </div><!--end surveys -->
    
    <div id="bannerimage">
      <span id="surveyname">
        <a href="http://isgs.illinois.edu"><img src="all/themes/ISGS/assets/images/ISGSlogo.gif" alt="ISGS logo banner" border="0" /></a>
      </span>
      <span id="uilogo">
        <a href="http://www.illinois.edu" target="_blank"><img src="all/themes/ISGS/assets/images/i-logo.gif" alt="University of Illinois at Urbana-Champaign logo" /></a>
      </span>
    </div><!--end bannerimage -->
    
    <div id="NAVBar">
      <div id="navlinks">
        <h2 class="hidden">Navigation</h2>
        <ul>
          <li class="first"><a href="/about-isgs/about.shtml">About ISGS</a>
          </li>
          <li><a href="/research/index.shtml">Research</a>
          </li>
          <li><a href="/maps-data-pub/data.shtml">Data</a>
          </li>
          <li><a href="/maps-data-pub/publications.shtml">Publications</a>
          </li>
          <li><a href="http://www.library.illinois.edu/prairie/" target="_blank">Library</a>
          </li>
          <li><a href="/maps-data-pub/maps.shtml">Maps</a>
          </li>
          <li><a href="/research/hazards-response.shtml">Hazard Response</a>
          </li>
          <li><a href="/education/">Outreach</a>
          </li>
          <li><a href="/services/index.shtml">Services</a>
          </li>
          <li><a href="/sitemap.shtml">Site map</a>
          </li>
        </ul>
      </div><!--end navlinks -->
    </div><!--end NAVBar -->
    
    <div id="isgsbar">
      <div id="isgslinks">
       <h2 class="hidden">Navigation</h2>
       <ul>
         <li class="first"><a href="http://shop.inrs.illinois.edu/shop-isgs.html" target="_blank">Shop ISGS</a>
         |</li>
         <li><a href="http://sequestration.org/" target="_blank">Carbon Sequestration</a>
         |</li>
         <li><a href="/sections/oil-gas/launchims.shtml" target="_blank">ILOIL</a>
         |</li>
         <li><a href="/maps-data-pub/wwdb/launchims.shtml" target="_blank">ILWATER</a>
         |</li>
         <li><a href="/viewers/coal-mines.shtml" target="_blank">ILMINES</a>
         |</li>
         <li><a href="/nsdihome/" target="_blank">Geospatial Data Clearinghouse</a>
         |</li>
         <li><a href="https://staff.isgs.illinois.edu/" target="_blank">Staff Only</a>
         |</li>
         <li><a href="http://www.prairie.illinois.edu/shilts/gallery">Shilts' Images</a></li>
         <!-- <li>
           <a href="http://www.facebook.com/pages/Illinois-State-Geological-Survey/116717815026470?v=wall" target="_blank"><img src="/images/f-logo.gif" alt="Find us on Facebook" /></a>
          </li> -->
     </ul>
     </div><!--end isgslinks -->

        <form method="get" action="http://www.isgs.illinois.edu/search-results.shtml" id="cse-search-box" class="searchform">
          <input type="text" name="q" size="10" maxlength="255" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" title="Search" class="searchfield" />
          <input type="submit" name="btnG" value=" " class="searchbutton" />
          <input type="hidden" name="cx" value="013002876259546963927:j6vqjmawt04" />
          <!-- <input type="hidden" name="ie" value="UTF-8" />
          <input type="hidden" name="cof" value="L:http://www.isgs.illinois.edu/assets/banner.gif;LW:651;LH:48;AH:center;GL:0;T:#000000;GALT:#3300CC;GIMP:#009900;GFNT:#996600;LC:#339933;ALC:#33FF99;VLC:#CC6666;" /> -->
          <input type="hidden" name="cof" value="FORID:10;" />
          <!-- <input type="hidden" name="domains" value="www.isgs.illinois.edu" />
          <input type="hidden" name="sitesearch" value="www.isgs.illinois.edu" /> -->
        </form>
    
    </div><!--end isgsbar -->
   
    </div><!--end header -->


  
<div id="main-content">

    <div id="content">
    <h1 class="hidden">Illinois State Geological Survey</h1>
    <div id="featured">
    
            <img src="all/themes/ISGS/assets/images/silurian-group.png" alt="Silurian group at Thornton Quarry" />
            <div class="featured-caption">
            <h2 class="featured-caption-header">Mikulic Leads Field Trip to Examine Silurian Rocks of Northeastern Illinois</h2>
            <p class="featured-caption-text">
             On July 28th Donald Mikulic led a geological field trip to examine the Silurian rocks of northeastern Illinois as part of the UNESCO IGCP (International             Geoscience Program) Project 591 meeting that was held in Cincinnati, Ohio. <a href="#">Read more >></a> </p>
            </div><!--end featured-caption -->
            </div><!--end featured -->
    
            <div class="highlights">
            <h3>Project Highlights</h3>
            <ul>
            <li><a href="#">Mikulic Leads Field Trip to Examine Silurian Rocks of Northeastern Illinois</a></li>
            <li><a href="#">ISGS to Release Seismic Reflection Survey Across Central Illinois</a></li>
            <li><a href="#">New Insights on Upper Mississippi Valley Mineralization Based on Solution Cavities in the Ordovician Galena Group at the Conco Mine, North             Aurora, Illinois, USA</a></li>
            <li><a href="#">More Highlights &raquo;</a></li>
            </ul>
            </div>
            
            <div class="events">
            <h3>Events</h3>
            <ul>
            <li><span class="date">OCT 24</span><a href="#">Prairie Institute Lecture Series: 9 Billion People + 1 Planet = ?</a> </li>
            <li><span class="date">NOV 10-11</span><a href="#">Illinois EarthScope Workshop</a></li>
            <li><span class="date">MAY 2</span><a href="#">ISGS Seminar Series-Larry Hendrickson, John Deere</a></li>
            <li><span class="date">OCT 12</span><a href="#">ISGS Seminar Series-Ryan Pollyea, Northern Illinois Univ.</a></li>
            <li><span class="date">JAN 12</span><a href="#">Explore the Geologic Secrets of Illinois' Fossil Rain Forest</a></li>
            <li><span class="date">SEP 24</span><a href="#">Earth Science Week 2010</a></li>
            <li><span class="date">SEP 24</span><a href="#">Chicago Lakefront Bus Tour</a></li>
            <li><a href="#">More Events &raquo;</a></li>
            </ul>
            </div>
    
    </div><!--end content -->
    
    <div id="sidebar">
    
                <div class="sidebar-box">
                <h2><a href="#">Upcoming Events</a></h2>
                <dl>
                <dt><a href="#">Prairie Institute Lecture Series: 9 Billion People + 1 Planet = ?</a></dt>
            <dd><strong>October 24, 2012 at 4:00pm</strong><br />
            <strong>Alice Campbell Alumni Center</strong><br />
            The Prairie Research Institute is pleased to announce that Andrew Revkin, Senior Fellow at Pace University and writer of the Dot Earth blog at the New York Times 					        is our third annual lecture series speaker. </dd>
                </dl>
                </div>
                
                <div class="sidebar-box">
                <h2><a href="#">ISGS in the News</a></h2>
                <dl>
                <dt><a href="#">Massive fracks in Illinois: Speculation or reality?</a></dt>
                <dd>The Illinois Public Media News interviews retired ISGS staff member, David Morse, about the issue of fracking in Southern Illinois. Morse, in his work with            the ISGS, has been looking at the new Albany Shale for the last 10 years. </dd>
                </dl>
                </div>
                
                <div class="sidebar-menu">
                <h3><a href="about-us.html">Publications</a></h3>
                <h3><a href="#">Event Calendar</a></h3>
                <h3><a href="#">Contact or Visit Us</a></h3>
                <h3><a href="#" class="facebook">ISGS on Facebook</a></h3>
        		</div>
        
    </div><!--end sidebar -->

</div><!--end main-content -->



    <div id="footerArea">
      <div id="bcol1">
      
      <h3 class="section-title"><a href="http://isgs.illinois.edu">Illinois State Geological Survey</a></h3><br />
      <p class="copyright"><a href="/about-isgs/staff-dir/m/mckay.shtml">E. Donald McKay, III, Director</a>
       <br />
      615 E. Peabody<br />
      Champaign, IL  61820<br />
      217-244-2414<br />
      <a href="mailto:info@isgs.illinois.edu">info@isgs.illinois.edu</a>
      </p>
    </div>
    
    <div id="bcol2">
      <p class="copyright">
      &#169; 2012 University of Illinois Board of Trustees. All rights reserved.
      <br />
      For permissions information, contact the Illinois State Geological Survey.
      <br /><br />
      <a href="/terms.shtml">Terms of use
      &nbsp; &nbsp; &nbsp; &nbsp; 
      <a href="/disclaimer.shtml">Privacy Statement</a>
      <br /><br />
      </p>
    </div>
    </div><!--end footerArea -->

</div><!--end page-wrap -->

</body>
</html>
